form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    margin: 20px;
    padding: 10px;
}
#radio-left {
    display: flex;
    
    justify-content: space-between;
}